body {
  margin: 0;
  background: black;
  
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color:white;
  transition: 0.4s
}

button {
  background: transparent;
  border:none;
}

#nav {
  padding-top: 5%;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;

}

#logo {
 border: 2px dashed black;
  text-align: center;
  color: red;

}

.dropbtn {
    color: white;
    text-align: left;

}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.vids {
  display: block;
  text-align: left;
}

}
.dropdown-bar {
  border: 2px solid black;
}

.twitter {
  margin-top: 100%;
  bottom: 10px;
  left: 10px;
  position: fixed;

}

.instagram {
  margin-top: 100%;
  bottom:10px;
  left: 60px;
  position: fixed;
}

.shoot {
  display: block;
  text-align: left;
}

.shoots::before {
  color:red;
  
}

.shoots::hover {
  opacity: 1
}

#images {
  padding: 10px;
  margin-top: 5%;
}

.fall-scroll {
  width: 400px;
  height: 400px;
  float: left;
  margin-left:10%;
  border: 1px solid orange;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 5%;

}




