.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

}

.clearfix { display: inline-block; }
* html .clearfix { height: 0%; }
.clearfix { display: block; }

body {
  margin: 0;
  background: black;
  
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color:white;
  transition: 0.3s

}

button {
  background: transparent;
  border:none;
}

.nav {
  margin-top: 0%;
  text-align: left;
  font-family: Verdana;
  float: left;
  border: 0px solid red;
  display:block;
  width: 500px;
  margin-left: 8%;
  margin-top:60px;
  padding-left: 0%;
  padding-right: 0px;
}

.container {
  text-align: center;
  border: 0px solid blue;
}

.button {
  display: block;
  border: 0px solid orange;
  float: left;
  margin-right:8%;

}

.dropdown-content {
    padding-left: 2px;
    margin-top:0px;
    position: absolute;
    min-width: 160px;
    border: 0px solid black;
    margin-left: -2px;
    opacity:0;

}

.button:hover .dropdown-content{
  opacity: 1;
  transition: 0.5s;
}

.instagram .twitter: hover {

}
.shoots {
  display: block;
}

.twitter {
  margin-top: 100%;
  bottom: 1%;
  margin-left: 20px;
  position: fixed;
  border:0px solid black;
}

.instagram {
  margin-top: 100%;
  bottom:1%;
  margin-left: 70px;
  position: fixed;
  border:0px solid red;
  padding-right:0px;

}




